@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, Blazor InputChips!</h1>

<div class="samples">

	<label>Default</label>
	<InputChips autofocus placeholder="add a tag" />

	<label>Bind to property</label>
	<InputChips @bind-Chips="Chips"
				placeholder="add a tag" />

	<label>Use SPACE to submit tags</label>
	<InputChips placeholder="add a tag"
				SubmitChipOnChar="' '" />

	<label>Use BACKSPACE to delete tags</label>
	<InputChips placeholder="add a tag"
				EnableBackspaceRemove="true" />

	<label>Allow duplicates</label>
	<InputChips placeholder="add a tag"
				AllowDuplicates="true" />

	<label>Limit tag min (3) & max (12) length</label>
	<InputChips placeholder="add a tag"
				MinChipLen="3" MaxChipLen="12" />

	<label>Limit min/max length and use &lt;ul&gt; for errors</label>
	<InputChips placeholder="add a tag"
				MinChipLen="3" MaxChipLen="12"
				UseUnorderedListForErrors="true" />

	<label>Readonly mode</label>
	<InputChips @bind-Chips="ReadonlyChips"
				ReadOnly="true" />

	<label>Readonly mode, allow delete</label>
	<InputChips @bind-Chips="DeleteReadonlyChips"
				ReadOnly="true"
				AllowDeleteWhenReadOnly="true" />

	<EditForm method="post"
			  Model="this.Input"
			  OnValidSubmit="OnValidSubmit">
		<label>ENTER key will not cause form to submit!</label>
		<InputChips @bind-Chips="this.Input.Chips" autocomplete="off" autofill="off" />
		<button type="submit">Save</button>
	</EditForm>

</div>

@code {
	private List<string> Chips { get; set; } = [];

	private List<string> ReadonlyChips { get; set; } = ["Jane", "June", "Janet"];

	private List<string> DeleteReadonlyChips { get; set; } = ["Jane", "June", "Janet", "Jack"];


	private void OnValidSubmit()
	{
		NavigationManager.NavigateTo("/submitted-form");
	}

	private InputModel Input = new();

	private class InputModel
	{
		public List<string> Chips { get; set; } = [];
	}
}
